<header class="relative overflow-hidden" aria-labelledby="heroHeading">
    <h2 id="heroHeading" class="sr-only" aria-hidden="true">Header</h2>
    <div class="hidden lg:block lg:absolute lg:inset-0" aria-hidden="true">
        <svg class="absolute top-0 transform translate-x-64 -translate-y-8 left-1/2" width="640" height="784" fill="none" viewBox="0 0 640 784">
            <defs>
                <pattern id="dots" x="118" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-blue-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect y="72" width="640" height="640" class="text-gray-50" fill="currentColor" />
            <rect x="118" width="404" height="784" fill="url(#dots)" />
        </svg>
    </div>
    <div class="relative z-10 px-4 mx-auto my-16 max-w-7xl sm:my-24 sm:px-6">
        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
            <div class="space-y-4 sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
                <h1>
                    <span class="block text-sm font-semibold tracking-wide text-blue-600 uppercase sm:text-base lg:text-sm xl:text-base">{{ title }}</span>
                    <span class="block mt-1 text-4xl font-extrabold tracking-tight sm:text-5xl xl:text-6xl">
                        <span class="block text-gray-900">{{ slogan }}</span>
                    </span>
                </h1>
                <p class="mt-3 text-base text-gray-600 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
                    {{ description }}
                </p>
                <div class="inline-flex items-center divide-x divide-gray-300">
                    <div class="inline-flex flex-shrink-0 pr-5">
                        <!-- Heroicon name: solid/star -->
                        <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                        <!-- Heroicon name: solid/star -->
                        <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                        <!-- Heroicon name: solid/star -->
                        <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                        <!-- Heroicon name: solid/star -->
                        <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                        <!-- Heroicon name: solid/star -->
                        <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                    </div>
                    <div class="flex-1 min-w-0 py-1 pl-5 text-sm text-gray-500 sm:py-3">
                        <p class="font-medium text-gray-900">
                            Rated 
                            
                            <a href="https://www.google.com/search?hl=en&q=brevard%20pool%20care#lrd=0x88e0a9ad1aa6ab27:0x78f4d95cd24c5296,1,,," class="text-blue-600 hover:text-blue-700">5 stars
                            </a> by our happy customers!
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-16 sm:mt-24 lg:mt-0 lg:col-span-6">
                <div class="bg-blue-50 sm:max-w-md sm:w-full sm:mx-auto sm:rounded-lg sm:overflow-hidden">
                    <div class="px-4 py-8 sm:px-10">
                        <span class="block text-sm font-semibold tracking-wide text-blue-600 uppercase sm:text-base lg:text-sm xl:text-base">GET A FREE QUOTE WITHIN 24 HOURS!</span>
                        <div>
                            <form name="headerFreeQuote" method="POST" class="mt-4 space-y-4" netlify>
                                <p class="hidden">
                                    <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
                                </p>
                                <div>
                                    <label for="name" class="sr-only">Full name</label>
                                    <input type="text" name="name" id="name" autocomplete="name" placeholder="Full name" required class="block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-gray-300 rounded-md">
                                </div>

                                <div>
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" name="email" id="email" autocomplete="email" placeholder="Email" class="block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-gray-300 rounded-md" required>
                                </div>

                                <div>
                                    <label for="phone" class="sr-only">Phone</label>
                                    <input id="phone" name="phone" type="text" placeholder="Phone" autocomplete="phone" class="block w-full shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm border-gray-300 rounded-md" maxlength="16" minlength="7" required>
                                </div>

                                <div class="relative">
                                    <div class="absolute inset-0 flex items-center" aria-hidden="true">
                                        <div class="w-full border-t border-blue-300"></div>
                                    </div>
                                    <div class="relative flex justify-center text-sm">
                                        <span class="px-2 bg-blue-50 text-gray-500">
                                        Important
                                        </span>
                                    </div>
                                </div>

                                {{#with pool-feature}}
                                <div>
                                    <div class="grid grid-cols-2 grid-flow-row gap-y-2">
                                    {{#each feature}}
                                        <label for="{{name}}" class="text-gray-500 text-base font-medium col-span-1">
                                            <input type="checkbox" name="{{name}}" id="{{name}}-pool-feature" class="appearance-none rounded-full border-blue-300 bg-white checked:bg-blue-600 checked:border-transparent">
                                            <span>{{name}}</span>
                                        </label>
                                    {{/each}}
                                    </div>
                                </div>
                                {{/with}}

                                <div>
                                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start">
                                        <div class="mt-1 sm:mt-0 sm:col-span-3">
                                            <div class="w-full flex justify-center px-6 pt-5 pb-6 border-2 border-blue-300 border-dashed rounded-md">
                                                <div class="space-y-1 text-center">
                                                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                    </svg>
                                                    <div class="flex justify-center text-sm text-gray-600">
                                                        <label for="image-upload" class="relative cursor-pointer bg-transparent rounded-md font-medium text-blue-600 hover:text-blue-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
                                                            <span>Upload Photos</span>
                                                            <input id="image-upload" name="image-upload" type="file" class="sr-only" required multiple accept="image/*">
                                                        </label>
                                                    </div>
                                                    <p class="text-gray-500 text-xs font-semibold">
                                                        Please provide images of landscaping around pool, pool filter, pool equipment and of the pool.
                                                    </p>
                                                    <p class="text-xs text-gray-500">
                                                    PNG and JPG up to 10MB
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div>
                                    <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                        Get Your FREE Quote!
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="px-4 py-6 bg-blue-100 border-t-2 border-blue-300 sm:px-10">
                        <p class="text-xs leading-5 text-gray-500">By hitting submit, you agree to our <a href="#" class="font-medium text-gray-900 hover:underline">Terms</a>, <a href="#" class="font-medium text-gray-900 hover:underline">Data Policy</a> and <a href="#" class="font-medium text-gray-900 hover:underline">Cookies Policy</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>