<div class="bg-white" id="services">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 lg:py-24 lg:px-8 lg:grid lg:grid-cols-1 lg:grid-row-2 lg:gap-x-8">
    <div class="text-center">
      <h2 class="text-base font-semibold tracking-wide text-blue-600 uppercase">{{ service.services-microheading }}</h2>
      <p class="mt-2 text-3xl font-extrabold text-gray-900">{{ service.services-heading }}</p>
      <p class="mt-4 text-lg text-gray-500">{{ service.services-subheading }}</p>
    </div>
    <div class="mt-12 overflow-hidden bg-gray-200 divide-y divide-gray-200 rounded-lg shadow sm:divide-y-0 sm:grid sm:grid-cols-2 sm:gap-px">
      {{#with service}}
        {{#each services}}
          {{#if service-toggle}}
            <div class="relative p-6 bg-white group focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500">
              <div>
                <span class="inline-flex p-3 {{#if service-disable-toggle}}text-red-700 bg-red-50{{else if service-icon-color}}text-{{service-icon-color}}-700 bg-{{service-icon-color}}-50{{/if}} rounded-lg ring-4 ring-white">
                {{#if service-disable-toggle}}
                  <i class="w-4 h-4 fas fa-times-circle"></i>
                {{else if service-icon}}
                  <i class="w-4 h-4 fas fa-{{service-icon}}"></i>
                {{/if}}
                </span>
              </div>
              <div class="mt-4">
                <h3 class="text-lg font-semibold">
                  {{#if service-disable-toggle}} 
                    {{ service-title }}
                  {{else}}
                    <a href="#" class="focus:outline-none">
                      <!-- Extend touch target to entire panel -->
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      {{ service-title }}
                    </a>
                  {{/if}}
                </h3>
                <p class="mt-2 text-sm font-medium text-gray-700">
                  {{ service-description }}
                </p>
              </div>
              <span class="absolute text-gray-300 pointer-events-none top-6 right-6 group-hover:text-gray-400" aria-hidden="true">
                {{#if service-disable-toggle}} 
                  <button type="button" class="inline-flex items-center px-3 py-1.5 border border-transparent text-xs font-medium rounded-full shadow-sm text-white bg-gray-600">
                    Not Available
                  </button>
                {{else}}
                  <button type="button" class="inline-flex items-center px-3 py-1.5 border border-transparent text-xs font-medium rounded-full shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    Book Now
                  </button>
                {{/if}}
              </span>
            </div>
          {{/if}}
        {{/each}}
      {{/with}}
    </div>
  </div>
</div>