<div id="steps" class="bg-white">
    <div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-extrabold text-gray-900">
            {{step.steps-heading}}
        </h2>
        <p class="text-base font-medium text-gray-600">
            {{step.steps-subheading}}
        </p>
        <div class="pt-10 mt-6 border-t border-gray-400 border-opacity-25">
            <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-8">
                {{#each step.steps}}
                    {{#if step-toggle}}
                        <div>
                            <div class="flex items-center justify-start">
                                <span class="flex items-center justify-center w-12 h-12 text-lg font-semibold text-blue-700 bg-blue-200 rounded-md">
                                    {{step-number}}
                                </span>
                                <dt class="ml-3 text-lg font-medium leading-6 text-gray-900 capitalize">
                                    {{step-title}}
                                </dt>
                            </div>
                            <dd class="mt-2 text-base text-gray-600">
                                {{step-description}}
                            </dd>
                        </div>
                    {{/if}}
                {{/each}}
            </dl>
        </div>
    </div>
</div>